---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

/* type scale */
$type-size-1 : 2.441em;
$type-size-2 : 1.953em;
$type-size-3 : 1.563em;
$type-size-4 : 1.25em;
$type-size-5 : 1.1em;
$type-size-6 : 0.75em;
$type-size-7 : 0.6875em;
$type-size-8 : 0.625em;
$type-size-5a : 0.9em;

/* headline scale */
$h-size-1: 1.25em !default;
$h-size-2: 1em !default;
$h-size-3: 0.9em !default;
$h-size-4: 0.7625em !default;
$h-size-5: 0.73125em !default;
$h-size-6: 0.6em !default;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__content {
  p,
  li,
  dl {
    font-size: 0.75em;
  }
}

.highlight {
  margin: 0;
  padding: 0.5em;
  font-family: $monospace;
  font-size: $type-size-5a;
  line-height: 1.8;
}
