---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

//$link-color: black;

/* type scale */
$type-size-1 : 2.441em;
$type-size-2 : 1.953em;
$type-size-3 : 1.563em;
$type-size-4 : 1.25em;
$type-size-5 : 1.1em;
$type-size-6 : 0.75em;
$type-size-7 : 0.6875em;
$type-size-8 : 0.625em;

/* headline scale */
$h-size-1: 1.25em !default;
$h-size-2: 1em !default;
$h-size-3: 0.9em !default;
$h-size-4: 0.7625em !default;
$h-size-5: 0.73125em !default;
$h-size-6: 0.6em !default;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__content {
  p,
  li,
  dl {
    font-size: 0.75em;
  }
}

.highlight {
  margin: 0;
  padding: 0.5em;
  font-family: $monospace;
  font-size: 0.8em;
  line-height: 1.8;
}

.author__urls-wrapper {
  font-size: 0.8em;
}

a,
a:hover,
a:visited
a:active {
  text-decoration: none;
}

.archive__item h2 a,
.archive__item h2 a:visited {
    color: black;
    text-decoration: none;
    position: relative;
}

.archive__item h2 a:hover {
    color: black;
    text-decoration: underline;
}


.greedy-nav .visible-links a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    background: black;
    width: 100%;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: scaleX(0) translate3d(0, 0, 0);
    transform: scaleX(0) translate3d(0, 0, 0);
}

.search__toggle {
  color: black;
  cursor: pointer;
}

.search__toggle:hover {
 color:#333
}



//.page .page__inner-wrap {
//  width: 105%;
//}
